%h1 Update Space Ship Data

%div.appliance-form
  = form_for @appliance, url: {action: "update"}, html: {role: "form", class: "form-horizontal"} do |f|
    = render :partial => "shared/appliance_form", :locals => {:f => f, :appliance => @appliance}
    %div.form-group
      = f.submit "Update Ship Data", :class => "btn btn-default"

=render :partial => "shared/navigation"
