%h1 Update Space Ship Data

%div.appliance-form
  = form_for @appliance, url: {action: "update"}, html: {role: "form"} do |f|
    = render :partial => "shared/appliance_form", :locals => {:f => f, :appliance => @appliance}
    = f.submit "Update Ship Data"

=render :partial => "shared/navigation"
