%h1 Add New Space Ship to the Fleet

%div.appliance-form
  = form_for @appliance, url: {action: "create"}, html: {role: "form"} do |f|
    = render :partial => "shared/appliance_form", :locals => {:f => f, :appliance => @appliance}
    = f.submit "Add Ship"

=render :partial => "shared/navigation"
