%h1 Add New Space Ship to the Fleet

- if flash
  %div.notice
    = flash[:notice]

%div.appliance-form
  = form_for @appliance, url: {action: "create"} do |f|
    = render :partial => "shared/appliance_form", :locals => {:f => f}
    = f.submit "Add Ship"

=render :partial => "shared/navigation"
