%h1
  How many Targets have a reachable address?

%canvas#myChart(width="400" height="400")

%p
  This shows how many of our targets are currently reachable when pinged.

%script(type="text/javascript")
  buildPieChart();

