%h1
  How many Targets are currently within reach?

%canvas#myChart(width="400" height="400")

%div#legend
  %div
    %p Targets for all ships in our fleet:
  %div#reachable-key
  %div#label-key Reachable
  %br
  %div#unreachable-key
  %div#label-key Unreachable

%div#home-nav
  %a{:href => "#{root_path}"} Home

%script(type="text/javascript")
  buildPieChart();

