// Styles for whole app

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #E7B083;
  background-color: #935EAF; /* fallback color if gradients are not supported */
  background: -webkit-linear-gradient(to right, #6D4682, #9667AF); /* For Chrome and Safari */
  background:    -moz-linear-gradient(to right, #6D4682, #9667AF); /* For old Fx (3.6 to 15) */
  background:     -ms-linear-gradient(to right, #6D4682, #9667AF); /* For pre-releases of IE 10*/
  background:      -o-linear-gradient(to right, #6D4682, #9667AF); /* For old Opera (11.1 to 12.0) */ 
  background:         linear-gradient(right, #6D4682, #9667AF); /* Standard syntax; must be last */
  text-align: center;
}

p {
  color: #E7E783;
}

a {
  color: #E7E783;
}

a:visited {
  color: #E7E783;
}

#home-nav {
  margin-top: 10px;
  margin-left: -22px;
}

#home-nav ul {
  list-style-type: none;
}

#home-nav ul li {
  display:inline;
  margin: 10px;
}
