// Place all the styles related to the Targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Raleway', sans-serif;
  color: #E7B083;
  background-color: #794695;
  text-align: center;
}

p {
  color: #E7E783;
}
