!!! 5
%html
  %head
    %title Starship Fleet Stats
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =favicon_link_tag 'toaster.png'
    =csrf_meta_tags

  %body
    =yield

